/*
green = #99B898
peach = #FECEA8
coral = #FF847C
pink = #E84A5F
dark = #2A363B
*/
body{
  /*font-family: 'Amatic SC', cursive;*/
  /*font-size: 30px;*/
  background-color:#F0F8FF
  font-family: 'Arvo', serif;
}

.capsule {
  font-family: 'Arvo', serif;

}

p {
  font-family: 'Arvo', serif;
}

*{
  margin: 0;
}

#capsule_form form {
  text-align: center;
  padding-top: 2%;
  border: 1px;
}
label {
  font-weight: bold;
  color: #2A363B;
}

/*#labels{
  display: inline-block;
  text-align: left;
  float: left;
  width:50%;
}

#fields{
  text-align: right;
  float: left;
  width:50%;
}*/

header {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background-color: #29506D;
  font-weight: bold;
  color: #2A363B ;
  font-size: 2.5em;
}

.nav_bar {
  background-color: #FECEA8;
  color: #2A363B;
  font-size: 1.5em;
  text-align: center;
  height: 10%;
}

.nav_bar ul li{
  display: inline;
  padding-left: 3%;
  padding-right: 3%;
  position: center;
}

.nav_bar ul li a {
  display: inline;
  color: #2A363B;
  text-decoration: none;
  border-bottom: 2px dotted;
}

header a:link, header a:visited, header a:active {
  color: #FFFFFF;
  text-decoration: none;
}

header a:hover {
  color: #000000;
  text-decoration: none;
}

.button a:link, a:visited, a:active {
  color: #000FFF;
  text-decoration: none;
}

.button a:hover {
  color: #606060;
  text-decoration: none;

}

li {
  list-style-type: none;
  display: inline;
  margin-right: 10%;
}

#homepage {
  font-family: 'Amatic SC', cursive;
}
