<div id="capsule_form">
  <form action="" method="">
    <label>Title: </label><input name="capsule_title" type="text"><br>
    <label>Photo_URL: </label><input name="photo_url" type="text"><br>
    <label>Caption: </label><input name="caption" type="text"><br>
    <input type="submit" value="Create Capsule">
  </form>
</div>