<div id="capsule_form">
  <form action="/user/<%=current_user.id%>/capsule" method="post">
    <label>Title: </label><input name="capsule[title]" type="text"><br>
    <label>Photo_URL: </label><input name="capsule[url]" type="text"><br>
    <label>Caption: </label><input name="capsule[caption]" type="text"><br>
    <label>Open Time: </label><input name="capsule[next_time]" type="text" placeholder="(ex: in 2 days)"><br>
    
    <input type="submit" value="Create Capsule"><br>
  </form>
  
</div>