
<div class="capsule" style="border: top dotted black 3px ">
  <%=capsule.title%><br><br>
  <%=capsule.created_at%><br><br>
  <%if capsule.next_time < Time::now %>
    <input name="view-button" type="button" value="View">
  <%else%>
    <input name="edit-button" type="button" value="Edit">
  <%end%>

</div>
