<h1>User Signup</h1>
  <form action="/user/create" method="POST">
    <input type="text" name="user[name]" placeholder="Enter in Name"><br>
    <input type="text" name="user[username]" placeholder="Enter in Username"><br>
     <input type="text" name="user[password]" placeholder="Enter in Password"><br>
    <input type="text" name="user[password_confirmation]" placeholder="Confirm Password"><br>
    <input type="submit" name="Submit">
  </form>
