<div id="container">
    Enter a time to test in Chronic
  <form action="/chronic" method="post">
    <p>Enter Time</p>
    <input type="text" name="time">
    <input type="submit" name="Submit">
  </form>
</div>
