<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon' rel='stylesheet' type='text/css'>

  <title>Chronos</title>
  <!--chrome tab icon -->
  <link rel="shortcut icon" href="http://www.favicongenerator.com/favicon2/hourglass%20(1)-20140927-favicon.ico">
</head>

<body>
  <header>
    <a href="/">CHRONOS</a>
  <nav>
    <ul>
      <% if session[:user_id] %>
        <p>Hello, user.</p>
        <a href="/user/<%= session[:user_id] %>/profile"><li>My Profile</li></a>
         <a href="/user/<%= session[:user_id] %>/capsule/new"><li>Create Capsule</li></a>
        <a href="/user/<%= session[:user_id] %>"><li>My Capsules</li></a>
        <a href="/logout"><li>Logout</li></a>
      <% else %>
        <a href="/session"><li>Sign In</li></a>
        <a href="/user"><li>New Account</li></a>
      <% end %>
    </ul>
  </nav>
</header>
  <%= yield %>
</body>

</html>
