
<div class="nav_bar">
  <ul>
    <li id="btn-upload"><a href="/user/<%=current_user.id%>/capsule">Upload</a></li>
    <li id="btn-pending">Pending</li>
  </ul>
</div>

<%= erb :'partials/_capsule_form' %>

<div class="viewable-list">
  <% @viewables.each do |viewable| %>
    <%= erb :'/partials/_pending', :layout => false, locals:{capsule: viewable} %>
  <% end %>
</div>