<h1>View Your Post</h1>
<p>Title: Lookin' good Folks</p>
<a href="http://imgur.com/BjiKmVQ"><img src="http://i.imgur.com/BjiKmVQ.jpg" title="dev boot camp" /></a>
<p>Caption: Make beautiful and meaningful things-- truly</p>
