<h1>View Your Post</h1>
<p>Title: <%=@capsule.title%></p>

<a href="http://imgur.com/BjiKmVQ"><img src="<%=@capsule.url%>" title="image" style="width: 200px, height: 200px" /></a>

<p>Caption: <%=@capsule.caption%></p>
